body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F7F5FB;
  width: 1000px;
  margin: 0 auto;
  color: #5A6282;
}

main {
  width: 600px;
  float: left;
}

.answer-box {
  width: 200px;
  float: left;
  margin-top: 230px;
}

#timer {
  width: 200px;
  float: left;
  margin-top: 360px;
  font-size: 90px;
}

h1 {
  display: inline-block;
  text-align: center;
  font-size: 70px;
  color: #5A6282;
  margin: 20px 0;
}

.buttons {
  clear: both;
}

#locked {
  font-weight: 400;
}

ul {
list-style-type: none;
font-size: 60px;
}

.grid {
  width: 444px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #909CC2;
  border-radius: 15px;
  border: 5px solid #909CC2;
  margin-top: 20px;
}

.grid li {
  width: 101px;
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
  border: 5px solid #909CC2;
  border-radius: 15px;
  background-color: #E8EBF7;
}

li:hover {
  background: #D0D6EF;
}

button {
  background: white;
  border: 4px solid #909CC2;
  color: #909CC2;
  padding: 10px 15px;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  border-radius: 15px;
}

.blue:hover {
  border: 4px solid #76E5FC;
  color: #76E5FC;
}

button:focus {outline:0;}

#start {
  padding: 10px 15px;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

#newgame {
  padding: 10px 15px;
  font-size: 1em;
}

#instructions {
  padding: 10px 15px;
  font-size: 1em;
}

#instruct {
  margin-top: 20px;
  display: none;
}

.game-over {
  font-size: 40px;
  font-weight: bold;
  margin-top: 60px;
}

#what-is {
  font-size: 20px;
  font-weight: bold;
}

#question {
  font-size: 40px;
  padding: 10px;
}

.guessing {
  background: #FF0D83 !important;
}

.answer {
  display: block;
  margin: 5px auto;
  width: 75px;
}

.answer:hover {
  border: 4px solid #FF0D83;
  color: #FF0D83;
}

.correct {
  background: #76E5FC !important;
}