@font-face {
  font-family: ringbearer;
  src: url(../fonts/ringbearer/RINGM___.TTF);
}

body {
  text-align: center;
  font-family: ringbearer;
  background-color: #D2D7DF;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #353535;
}

ul {
list-style-type: none;
font-size: 60px;
/*background-color: #8A897C;*/
}

.grid {
  width: 444px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #8A897C;
  border-radius: 15px;
  border: 5px solid #8A897C;
}

.grid li {
  width: 101px;
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
  border: 5px solid #8A897C;
  border-radius: 15px;
  background-color: #BDBBB0;
}

li:hover {
  background: #E8AA14;
}

button {
  background: #8A897C;
  border: 2px solid #BDBBB0;
  color: white;
/*  border: none;*/
  padding: 10px 15px;
  font-size: 1.2em;
  font-family: monospace;
  font-weight: bold;
  border-radius: 10%;
}

#start {
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 1em;
  font-family: monospace;
  font-weight: bold;
  font-family: ringbearer;
}

#newgame {
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 1em;
  font-family: monospace;
  font-weight: bold;
  font-family: ringbearer;
}

#instructions {
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 1em;
  font-family: monospace;
  font-weight: bold;
  font-family: ringbearer;
}

#question {
  font-size: 40px;
  color: #353535;
  padding: 10px;
}

.guessing {
  background: green !important;
}

.answers {
  margin: 10px;
}

.correct {
  background: red !important;
}

#timer {
  font-size: 50px;
  color: #353535;
}